# {{ ansible_managed }}
{{ vault_dir_auditoria }}/*.log {
    daily
    rotate 14
    compress
    delaycompress
    missingok
    notifempty
    create 0600 vault vault
    postrotate
        /usr/bin/systemctl reload vault >/dev/null 2>&1 || true
    endscript
}
